@import url('https://fonts.googleapis.com/css?family=Poppins');


/* STEP 1 SPEC */
@keyframes logo_wiggle {
 from {
   width: 25px;
   opacity: 0;
 }
 to {
   width: 475px;
   opacity: 1;
 }
}
#logo {
 animation-name: logo_wiggle;
 animation-duration: 5s;
}

/* STEP 2 SPEC */
body {
 font-family:
   'Poppins', serif;
 background: url('../images/concrete_seamless.png') #f1f1f1;
}

/* STEP 3 SPEC */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* STEP 4/5 SPEC */
.nav_links {
  display: flex;
  flex-direction: column;
  color: blue;
  /* align-items: center; */
  /* justify-content: space-around; */
  /* list-style: none; */
}
.nav_links:visited {
  color:blue;
}

/* STEP 6 SPEC */
.card > header {
background: #288080;
border: 2px solid #45ADAD;
padding-top: 20px 0;
border-radius: 50px 50px 0 0;
} 


/* STEP 7 SPEC */
.card{
display: flex;
flex-basis: 450px;
flex-direction: column;
border-radius: 50px 50px 0 0;
/* justify-content: space-between;
align-items: center;
width: 100%; */
}

 /* STEP 8 SPEC */
.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* align-content: baseline;
  align-self: auto; */
  }

/* STEP 9 SPEC */
.gallery > img {
  border: 10px solid #50C7C7;
  margin: 10px;
  width: 300px;
  /* height: 600px; */
  }

/* STEP 10 SPEC */
.gallery {
display: flex;
flex-direction: row;
flex-flow: row wrap;
justify-content: center;
/* flex-wrap: wrap; */
}

/* https://drive.google.com/file/d/1BEgMxTSLNrSAo_6m4v_VmeKU0JQnUjhW/view */
@media screen and (min-width: 900px) {

/* header should be as far to the left
as possible, nav_links should be as far right
using flex 
https://drive.google.com/file/d/1BEgMxTSLNrSAo_6m4v_VmeKU0JQnUjhW/view
*/
 
 /* 2: backup color of #f1f1f1 */
 body {
  font-family:
    'Poppins', serif;
  background-image: url('../images/concrete_seamless.png') #f1f1f1;
 }
 
 /* 3: header tag (all instances) to use flex to match our example 
 https://drive.google.com/file/d/1nSqJyJg--3azG5juM7nES_HHj39JR7_i/view

*/

/* STEP 11 SPEC */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* position: fixed; */
}
.nav_links {
  display: flex;
  flex-direction: row;
}


/* STEP 12 SPEC */
.pricing {
display: flex;
flex-basis: 275px;
align-items:flex-end;
}
.card{
display: flex;
flex-basis: 275px;
}


nav header {
  position: fixed;
  top: 0;
}

#pricing header {
  position: unset;
}


/* @keyframes logo_wiggle {
  from {
    width: 25px;
    opacity: 0;
  }
  to {
    width: 475px;
    opacity: 1;
  }
 }
 #logo {
  animation-name: logo_wiggle;
  animation-duration: 5s;
 } */

} 





@media (prefers-reduced-motion: reduce) {

  /* STEP 14 SPEC */
 #logo {
   animation: none;
 }

}


/* https://drive.google.com/file/d/1Dt7IuL7f6s4uJTQ9hk79ozt2GB4PjASn/view */
@media print {

/* STEP 15/16 SPEC */
body {
  font-family:
      'Arial', Helvetica;
  background-image: none;
 }
 

/* STEP 17 SPEC */
.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-width: 475px;
}
.nav_items {
  justify-self: ;
}
/* nav {

} */
 
 /* STEP 18 SPEC */
 .pricing {
 /* display: flex;
 align-items:flex-end;
 justify-content: baseline; */
 display: flex;
 align-items: flex-end;
 /* flex-wrap: inherit; */
 flex-direction: row;
 flex-wrap: nowrap;
 }
 /* display: flex;
 flex-wrap: nowrap;
 justify-content: baseline;
 vertical-align: baseline; */
 
 /* STEP 19 SPEC */
 .card{
 display: flex;
 /* align-self: baseline; */
 border-radius: 50px 50px 0 0;
 border: 2px solid #45ADDD;
 flex-basis: 325;
 /* background-color: none; */

 }
 /* .card li header {
  background-color: none;
 } */
 
 /* STEP 20 SPEC */
 .gallery {
   display: none;
  }
  
  #gallery {
    display: none;
  }
  
 }
 
 /* Without using list-style-type add the thumbs up entity as shown in the cards. */
 /* ERROR - not appearing */
 /* .pricing div.card::second_child {
  display:flex;
 
  content: '\01F44D'; 
  justify-content: center;
  align-items: center;
 } */